:root {

/* Primitives */
  --black100 : #000000;
  --white100 : #ffffff;

/* Tokens */
--primary-brand-lowest: var(--white100);
--primary-brand-highest: var(--black100);

--body-background: var(--primary-brand-lowest);

--button-primary-background: var(--primary-brand-lowest);
--button-primary-background-hover: var(--primary-brand-lowest);
--button-primary-text: var(--primary-brand-highest);
--button-primary-border: var(--primary-brand-lowest);

--button-secondary-background: var(--primary-brand-highest);
--button-secondary-background-hover: var(--primary-brand-lowest);
--button-secondary-text: var(--primary-brand-lowest);
--button-secondary-border: var(--primary-brand-lowest);

--box-background: var(--primary-brand-lowest);
--box-border: var(--primary-brand-highest);


  /* Fonts */
  --thin : 100;
  --extra-light : 200;
  --light : 300;
  --regular : 400;
  --medium : 500;
  --semi-bold : 600;
  --bold : 700;
  --extra-bold : 800;
  --black : 900;
}

  /* Paddings */

  /* Desktop */
  @media screen and (min-width: 1200px) {
    :root {
        --padding-h: 4rem;
        --padding-v: 4rem;
    }
  }

  /* Tablet */
  @media screen and (min-width: 769px) and (max-width: 1199px) {
      :root {
          --padding-h: 2rem;
          --padding-v: 2rem;
      }
  }

  /* Mobile */
  @media screen and (max-width: 768px) {
      :root {
          --padding-h: 1rem;
          --padding-v: 4rem
      }
  }


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background: var(--primary-brand-lowest);
  color: var(--primary-brand-highest);
  font-family: 'Inter', 'Roboto', "Segoe UI",sans-serif;
}